body {
	background-color: white;
}

h1 {
	font-family: "Helvetica";
	font-size: 30px;
}

div {
	background-color: white;
	font-family: "Helvetica";
	font-size: 20px;
}

footer {
	background-color: yellow;
	font-family: "Impact";
}