@import 'config.scss';
header {
  position: relative;
  display: block;
  width: 100%;
  background-color: #FFEBCD;
  color: #00008B;
  height: 90px;


  .logo {
    position: absolute;
    top: 50%; left: 15px;
    @include translateY(-50%);
  }
  nav,
  nav ul,
  nav ul li{
    margin: 0; padding: 0;
  }

  nav {
    position: absolute;
    top: 50%; right: 15px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;

      &.last{
        margin: 0;
      }

      a {
        font-size: 19px;
        line-height: normal;
        color: #00008B;
      }
    }
  }
}
p1 {
  color: #24479e;
  font-style: oblique;
  font-family: cursive;
  font-size: 70px;
  top: 50px;
}
p4 {
  color: #24479e;
  font-style: oblique;
  font-family: cursive;
  font-size: 50px;
  background-color: #FFEBCD;
  position: absolute;
  top: 50%; left:25%;
}
p2 {
  color: #24479e;
  font-style: normal;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
}

form {
position: absolute;
top: 40%; left: 330px;
text-align: center;
line-height: normal;
text-indent: 10px;

}

form2 {
  position: absolute;
  top: 20%; left: 300px;
  text-align: center;
}

form3{
  position: absolute;
  top: 60%; left: 180px;
  text-align: center;
}

p3{
  position: absolute;
  top: 50%;
  text-align: center;
  line-height: normal;
  color: #1d5fd0;
  text-decoration: underline;

}

h3{
  text-align: center;
  color: #00008B;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: lighter;
}
body {
  background-color: #FFEBCD;
}

h5{
  text-align: center;
  color: #00008B;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: lighter;
  top: 20%;
}
form4{
  position: absolute;
  top: 25%;
  text-align: center;
  line-height: normal;
  text-indent: 10px;
}
label1{
  position: absolute;
  top: 40%;
  text-align: center;
  line-height: normal;
  text-indent: 10px;
}
p5{
  color: #757775;
}
label3 {
  position: absolute;
  top: 30%;
  text-align: center;
  line-height: normal;
  text-indent: 10px;
}
button{
  transition-duration: 0.4s;
  background-color: #00008B;
  color: #FFEBCD;
  border-radius: 8px;
  font-size: 20px;
}

button2{
  transition-duration: 0.4s;
  background-color: #00008B;
  color: #FFEBCD;
  border-radius: 8px;
  font-size: 20px;

}
